// UCF file for 8OD revision 2 (Black)


NET EXTWR LOC=P112;
NET EXTRD LOC=P113;

NET ALE LOC=P108;
NET MIO LOC=P111;
NET RESET LOC=P159;
NET SYSCLK LOC=P107;
NET CPUCLK LOC=P140;
NET BHE LOC=P114;
NET ULE LOC=P11;
NET UHE LOC=P8;
NET DEN LOC=P109;
NET MRST LOC=P56;
NET NMI LOC=P25;
NET CPU10 LOC=P106;
NET BHEQ LOC=P143;
NET MIDCLK LOC=P12;
NET MIDCS LOC=P13;
NET DTR LOC=P9;
NET I2CCS LOC=P14;
NET RDY LOC=P142;
NET PGMRXD LOC=P34;
NET EEWP LOC=P55;
NET WDI LOC=P37;

NET ROMCS LOC=P7;
NET RAMCS LOC=P35;

NET UCSA LOC=P28;
NET UCSB LOC=P30;
NET UCSC LOC=P22;
NET UCSD LOC=P18;

NET TXA LOC=P33;
NET TXB LOC=P32;
NET TXC LOC=P21;
NET TXD LOC=P19;

NET RXA LOC=P15;
NET RXB LOC=P24;
NET RXC LOC=P26;
NET RXD LOC=P16;

NET IRQ1 LOC=P27;
NET IRQ2 LOC=P29;
NET IRQ3 LOC=P23;
NET IRQ4 LOC=P17;

NET AD_E<0> LOC=P139;
NET AD_E<1> LOC=P138;
NET AD_E<2> LOC=P135;
NET AD_E<3> LOC=P134;
NET AD_E<4> LOC=P133;
NET AD_E<5> LOC=P132;
NET AD_E<6> LOC=P131;
NET AD_E<7> LOC=P130;
NET AD_E<8> LOC=P129;
NET AD_E<9> LOC=P128;
NET AD_E<10> LOC=P126;
NET AD_E<11> LOC=P125;
NET AD_E<12> LOC=P124;
NET AD_E<13> LOC=P123;
NET AD_E<14> LOC=P122;
NET AD_E<15> LOC=P119;

NET AQ<0> LOC=P6;
NET AQ<1> LOC=P154;
NET AQ<2> LOC=P155;
NET AQ<3> LOC=P156;
NET AQ<4> LOC=P158;
NET AQ<5> LOC=P5;
NET AQ<6> LOC=P4;
NET AQ<7> LOC=P3;
NET AQ<8> LOC=P2;
NET AQ<9> LOC=P153;
NET AQ<10> LOC=P152;
NET AQ<11> LOC=P151;
NET AQ<12> LOC=P150;
NET AQ<13> LOC=P149;
NET AQ<14> LOC=P148;
NET AQ<15> LOC=P147;
NET AQ<16> LOC=P146;
NET AQ<17> LOC=P145;
NET AQ<18> LOC=P144;

NET A<19> LOC=P115;
NET A<18> LOC=P116;
NET A<17> LOC=P117;
NET A<16> LOC=P118;

NET PORTA<0> LOC=P89;
NET PORTA<1> LOC=P90;
NET PORTA<2> LOC=P91;
NET PORTA<3> LOC=P92;
NET PORTA<4> LOC=P93;
NET PORTA<5> LOC=P95;
NET PORTA<6> LOC=P96;
NET PORTA<7> LOC=P97;
NET PORTA<8> LOC=P98;
NET PORTA<9> LOC=P101;
NET PORTA<10> LOC=P102;
NET PORTA<11> LOC=P103;
NET PORTA<12> LOC=P104;
NET PORTA<13> LOC=P105;
NET PORTA<14> LOC=P88;
NET PORTA<15> LOC=P87;

NET PORTB<0> LOC=P86;
NET PORTB<1> LOC=P85;
NET PORTB<2> LOC=P84;
NET PORTB<3> LOC=P83;
NET PORTB<4> LOC=P82;
NET PORTB<5> LOC=P79;

NET LBUS_AD<0> LOC=P78;
NET LBUS_AD<1> LOC=P77;
NET LBUS_AD<2> LOC=P76;
NET LBUS_AD<3> LOC=P74;
NET LBUS_AD<4> LOC=P72;
NET LBUS_AD<5> LOC=P69;
NET LBUS_AD<6> LOC=P68;
NET LBUS_AD<7> LOC=P67;

NET LBUS_A<8> LOC=P58;
NET LBUS_A<9> LOC=P59;
NET LBUS_A<10> LOC=P60;
NET LBUS_A<11> LOC=P62;
NET LBUS_A<12> LOC=P63;
NET LBUS_A<13> LOC=P64;
NET LBUS_A<14> LOC=P65;
NET LBUS_A<15> LOC=P66;
NET LBUS_A<16> LOC=P47;
NET LBUS_A<17> LOC=P48;
NET LBUS_A<18> LOC=P49;
NET LBUS_A<19> LOC=P50;

NET LBUS_RD LOC=P53;
NET LBUS_WR LOC=P52;
NET LBUS_DTR LOC=P44;
NET LBUS_DEN LOC=P45;
NET LBUS_ALE LOC=P54;
NET LBUS_RST LOC=P42;
NET LBUS_MIO LOC=P57;
NET LBUS_IRDY LOC=P43;
NET LBUS_CLK LOC=P36;