// UCF file for jc2_top in XC9572XL-CS48


NET EXTWR LOC=P153;
NET EXTRD LOC=P154;

NET WDI LOC=P96;
NET ALE LOC=P151;
NET MIO LOC=P152;
NET RESET LOC=P159;
NET SYSCLK LOC=P150;
NET CPUCLK LOC=P22;
NET BHE LOC=P155;
NET ULE LOC=P52;
NET UHE LOC=P49;
NET DEN LOC=P102;
NET MRST LOC=P98;
NET NMI LOC=P64;
NET CPU10 LOC=P149;
NET BHEQ LOC=P23;
NET MIDCLK LOC=P53;
NET MIDCS LOC=P54;

NET ROMCS LOC=P48;
NET RAMCS LOC=P77;

NET UCSA LOC=P68;
NET UCSB LOC=P72;
NET UCSC LOC=P60;
NET UCSD LOC=P57;

NET TXA LOC=P76;
NET TXB LOC=P74;
NET TXC LOC=P59;
NET TXD LOC=P58;

NET RXA LOC=P66;
NET RXB LOC=P65;
NET RXC LOC=P63;
NET RXD LOC=P55;

NET PGMRXD LOC=P101;

NET EEWP LOC=P97;

NET IRQ1 LOC=P67;
NET IRQ2 LOC=P69;
NET IRQ3 LOC=P62;
NET IRQ4 LOC=P56;

NET AD_E<0> LOC=P21;
NET AD_E<1> LOC=P19;
NET AD_E<2> LOC=P18;
NET AD_E<3> LOC=P17;
NET AD_E<4> LOC=P16;
NET AD_E<5> LOC=P15;
NET AD_E<6> LOC=P14;
NET AD_E<7> LOC=P13;
NET AD_E<8> LOC=P12;
NET AD_E<9> LOC=P11;
NET AD_E<10> LOC=P9;
NET AD_E<11> LOC=P8;
NET AD_E<12> LOC=P7;
NET AD_E<13> LOC=P6;
NET AD_E<14> LOC=P5;
NET AD_E<15> LOC=P4;

NET AQ<0> LOC=P47;
NET AQ<1> LOC=P36;
NET AQ<2> LOC=P37;
NET AQ<3> LOC=P38;
NET AQ<4> LOC=P39;
NET AQ<5> LOC=P45;
NET AQ<6> LOC=P44;
NET AQ<7> LOC=P43;
NET AQ<8> LOC=P42;
NET AQ<9> LOC=P35;
NET AQ<10> LOC=P34;
NET AQ<11> LOC=P33;
NET AQ<12> LOC=P32;
NET AQ<13> LOC=P30;
NET AQ<14> LOC=P29;
NET AQ<15> LOC=P28;
NET AQ<16> LOC=P27;
NET AQ<17> LOC=P26;
NET AQ<18> LOC=P25;
NET AQ<19> LOC=P24;

NET A<19> LOC=P156;
NET A<18> LOC=P158;
NET A<17> LOC=P2;
NET A<16> LOC=P3;

NET PORTA<0> LOC=P132;
NET PORTA<1> LOC=P133;
NET PORTA<2> LOC=P134;
NET PORTA<3> LOC=P135;
NET PORTA<4> LOC=P138;
NET PORTA<5> LOC=P139;
NET PORTA<6> LOC=P140;
NET PORTA<7> LOC=P142;
NET PORTA<8> LOC=P143;
NET PORTA<9> LOC=P144;
NET PORTA<10> LOC=P145;
NET PORTA<11> LOC=P146;
NET PORTA<12> LOC=P147;
NET PORTA<13> LOC=P148;
NET PORTA<14> LOC=P131;
NET PORTA<15> LOC=P130;

NET PORTB<0> LOC=P129;
NET PORTB<1> LOC=P128;
NET PORTB<2> LOC=P126;
NET PORTB<3> LOC=P125;
NET PORTB<4> LOC=P124;
NET PORTB<5> LOC=P123;

NET PORTC<0> LOC=P119;
NET PORTC<1> LOC=P122;
NET PORTC<2> LOC=P117;
NET PORTC<3> LOC=P118;
NET PORTC<4> LOC=P115;
NET PORTC<5> LOC=P116;
NET PORTC<6> LOC=P113;
NET PORTC<7> LOC=P114;
NET PORTC<8> LOC=P111;
NET PORTC<9> LOC=P112;
NET PORTC<10> LOC=P108;
NET PORTC<11> LOC=P109;
NET PORTC<12> LOC=P106;
NET PORTC<13> LOC=P107;
NET PORTC<14> LOC=P104;
NET PORTC<15> LOC=P105;

NET PORTD<0> LOC=P95;
NET PORTD<1> LOC=P103;
NET PORTD<2> LOC=P92;
NET PORTD<3> LOC=P93;
NET PORTD<4> LOC=P90;
NET PORTD<5> LOC=P91;
NET PORTD<6> LOC=P88;
NET PORTD<7> LOC=P89;
NET PORTD<8> LOC=P86;
NET PORTD<9> LOC=P87;
NET PORTD<10> LOC=P84;
NET PORTD<11> LOC=P85;
NET PORTD<12> LOC=P82;
NET PORTD<13> LOC=P83;
NET PORTD<14> LOC=P78;
NET PORTD<15> LOC=P79;
